# Build Outputs
[Bb]uild/
bin/
obj/
out/
[Dd]ebug/
[Rr]elease/
Generated\ Files/

# Compiled Binaries & Libraries
*.exe
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.so
*.a
*.dylib

# C++ Cache & Temp Files
*.obj
*.tlog
*.log
*.cache
*.db
*.opendb
*.VC.db
ipch/

# --- System Garbage ---
.DS_Store
Thumbs.db
desktop.ini

# CLion
.idea/
cmake-build-*/

# Visual Studio specific files
.vs/
out/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# DirectX12 dll's
!D3D12/x64/*